<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Offerte Aanvraag</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/info.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/support_aanvraag.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
</head>

<body>
    <div class="sidebar">
        <div class="logo">"Wolken"</div>
        <ul>
            <li class="{% if request.path == '/home' %}active-link{% endif %}">
                <a href="{{ url_for('main.index') }}">Dashboard</a>
            </li>
            <li><a href="#">Data Beheren</a></li>
            <li class="{% if request.path == '/incidenten' %}active-link{% endif %}">
                <a href="{{ url_for('main.incidenten') }}">Incidenten</a>
            </li>
            <li class="{% if request.path == '/nieuwe_incident' %}active-link{% endif %}">
                <a href="{{ url_for('main.nieuwe_incident') }}">Maak Incident</a>
            </li>
            <li class="{% if request.path == '/nieuws' %}active-link{% endif %}">
                <a href="{{ url_for('main.nieuws') }}">Nieuws</a>
            </li>

            <li class="{% if request.path == '/contact' %}active-link{% endif %}">
                <a href="{{ url_for('main.contact') }}">Support</a>
            </li>
            <li class="{% if request.path == '/info' %}active-link{% endif %}">
                <a href="{{ url_for('main.informatie') }}">Informatie</a>
            <li><a href="#">Instellingen</a></li>
        </ul>
    </div>

        <h1>Aanvraag #{{ aanvraag.id }}</h1>

        <p><strong>Naam:</strong> {{ aanvraag.naam }}</p>
        <p><strong>Email:</strong> {{ aanvraag.email }}</p>
        <p><strong>Onderwerp:</strong> {{ aanvraag.onderwerp }}</p>
        <p><strong>Bericht:</strong> {{ aanvraag.bericht }}</p>

        <hr>

        <h2>Beantwoord aanvraag</h2>

        <form method="POST">
            <textarea name="antwoord" rows="6" cols="60" required></textarea><br><br>
            <button type="submit">Opslaan</button>
        </form>

    </div>