<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Offerte Aanvraag</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/info.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
</head>

<body>
    <div class="sidebar">
        <div class="logo">"Wolken"</div>
        <ul>
            <li class="{% if request.path == '/home' %}active-link{% endif %}">
                <a href="{{ url_for('main.index') }}">Dashboard</a>
            </li>
            <li><a href="{{ url_for('bestanden.upload_bestand') }}">Bestanden</a></li>
            </li>
            <li class="{% if request.path == '/incidenten' %}active-link{% endif %}">
                <a href="{{ url_for('main.incidenten') }}">Incidenten</a>
            </li>
            <li class="{% if request.path == '/nieuwe_incident' %}active-link{% endif %}">
                <a href="{{ url_for('main.nieuwe_incident') }}">Maak Incident</a>
            </li>
            <li class="{% if request.path == '/nieuws' %}active-link{% endif %}">
                <a href="{{ url_for('main.nieuws') }}">Nieuws</a>
            </li>

            <li class="{% if request.path == '/contact' %}active-link{% endif %}">
                <a href="{{ url_for('main.contact') }}">Support</a>
            </li>
            <li class="{% if request.path == '/info' %}active-link{% endif %}">
                <a href="{{ url_for('main.informatie') }}">Informatie</a>
            <li><a href="#">Instellingen</a></li>
        </ul>
    </div>

    <div class="main">
        <header>
            <h1>Bestand uploaden</h1>
        </header>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="flash flash-{{ category }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <form method="POST" action="{{ url_for('bestanden.upload_bestand') }}" enctype="multipart/form-data"> <!--enctype= bestand versturen met html-->
            <label for="bestand">Kies een bestand</label>
            <input type="file" name="bestand" id="bestand" required>

            <button type="submit">Upload bestand</button>
        </form>
    </div>

</body>

</html>