<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/nieuws.css')}}" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <title>nieuws</title>
</head>

<body>
    <div class="image-container">
        <img class="nieuws-search" src="/static/img/design_search.png" alt="nieuws-search">
        <form class="search-bar">
            <input type="search" placeholder="Zoek nieuws..." name="q" required>
        </form>
    </div>

    <div class="nieuws-p">
        <p>Recente artikelen met snel stijgende popolariteit:</p>
    </div>
    <div class="categorie-container3">
        <div class="categorie-artikel">
            <img src="\static\img\variatie-design.png" >
        </div>
        <div class="categorie-artikel"></div>
        <div class="categorie-artikel"></div>
        <div class="categorie-artikel"></div>
    </div>

</body>