<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Overheids Cloud Database</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/contact.css')}}" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
</head>

<body>
    <div class="sidebar">
        <div class="logo">"Wolken"</div>
        <ul>
            <li class="{% if request.path == '/home' %}active-link{% endif %}">
                <a href="{{ url_for('main.index') }}">Dashboard</a>
            </li>
            <li class="{% if request.path == '/bestanden' %}active-link{% endif %}">
                <a href="{{ url_for('bestanden.upload_bestand') }}">Data Beheren</a>
            </li>
            <li class="{% if request.path == '/incidenten' %}active-link{% endif %}">
                <a href="{{ url_for('main.incidenten') }}">Incidenten</a>
            </li>
            <li class="{% if request.path == '/nieuwe_incident' %}active-link{% endif %}">
                <a href="{{ url_for('main.nieuwe_incident') }}">Maak Incident</a>
            </li>
            <li class="{% if request.path == '/nieuws' %}active-link{% endif %}">
                <a href="{{ url_for('main.nieuws') }}">Nieuws</a>
            </li>

            <li class="{% if request.path == '/contact' %}active-link{% endif %}">
                <a href="{{ url_for('main.contact') }}">Support</a>
            </li>
            <li class="{% if request.path == '/mijn-tickets' %}active-link{% endif %}">
                <a href="{{ url_for('main.mijn_tickets') }}">Mijn aanvragen</a>
            </li>
            <li class="{% if request.path == '/info' %}active-link{% endif %}">
                <a href="{{ url_for('main.informatie') }}">Informatie</a>
            <li><a href="#">Instellingen</a></li>
        </ul>
    </div>

    </div>

    <div class="main">
        <header>
            <h1>Support aanvraag</h1>
            <a href="/admin/contact" class="back-link">← Terug naar overzicht</a>
        </header>

        <section class="ticket-container">

            <div class="ticket-info card">
                <h2>Gegevens aanvraag</h2>

                <p><strong>Naam:</strong> {{ aanvraag.naam }}</p>
                <p><strong>Email:</strong> {{ aanvraag.email }}</p>
                <p><strong>Onderwerp:</strong> {{ aanvraag.onderwerp }}</p>

                <div class="ticket-message">
                    {{ aanvraag.bericht }}
                </div>
            </div>

            <div class="ticket-reply card">
                <form method="POST" action="/contact/beantwoord/{{ aanvraag.id }}" class="reply-form">
                    <textarea name="antwoord" id="antwoord" class="antwoord-textarea" placeholder="Typ je antwoord"
                        required></textarea>

                    <button type="submit">Verstuur antwoord</button>
                </form>
            </div>

        </section>
    </div>

</body>

</html>