{% extends 'base.html' %}
{% block header %}
<h1>{% block title %}inloggen {% endblock %}</h1>
{% endblock %}

{% block content %}
  <p> <div class="form-container">
                <form method="POST" action="/login" class="login-form">
                    <div class="form-group">
                        <label for="gebruikersnaam">Gebruikersnaam</label>
                        <input type="text" id="gebruikersnaam" name="gebruikersnaam" required placeholder="Voer uw gebruikersnaam in">
                        <div class="form-group">
                        <label for="wachtwoord">Wachtwoord</label>
                        <input type="password" id="wachtwoord" name="wachtwoord" required placeholder="Voer uw wachtwoord in">
                    </div>
                    <button type="submit" class="btn-submit">Inloggen</button>
                </form>
            </div></p>
{%endblock %}   