<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/nieuws.css')}}" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <title>nieuws</title>
</head>

<body>
    <div class="image-container">
        <img class="nieuws-search" src="/static/img/nieuws-frame.png" alt="nieuws-search">
        <form class="search-bar">
            <input type="search" placeholder="Zoek nieuws..." name="q" required>
        </form>
    </div>

    <p class="nieuws-p">Lees meer over onze nieuwste updates en policy's:</p>
    <div class="artikel-container">
        <div class="artikel">
            <div class="artikel-beschrijving">
                <div class="systeem">
                    <p class="systeem-p">systeem</p>
                </div>
            </div>
        </div>
    </div>
    
</body>

</html>