<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/nieuws.css')}}" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <title>nieuws</title>
</head>

<body>
    <div class="image-container">
        <img class="nieuws-search" src="/static/img/nieuws-frame.png" alt="nieuws-search">
        <form class="search-bar">
            <input type="search" placeholder="Zoek nieuws..." name="q" required>
        </form>
    </div>

    <p class="nieuws-p">Lees meer over onze nieuwste updates en policy's:</p>
    <div class="artikel-container">
        <a class="link-container" href="{{ url_for('events.artikel_systeem1') }}">
            <div class="artikel">
                <div class="artikel-beschrijving">
                    <p class="systeem-alert">Systeem</p>
                    <img class="Calendar" src="/static/img/calendar.png" alt="calender">
                    <p class="beschrijving-tekst">15-10-2025</p>
                </div>
                <div class="artikel-beschrijving">
                    <img class="click-img" src="/static/img/systeem-1.jpg" alt="">
                    <div class="click-container">
                        <p class="click-tekst">De cloud verheffen: binnenin onze nieuwste systeemupdate</p>
                    </div>
                </div>
            </div>
        </a>
        <a class="link-container" href="{{ url_for('events.artikel_privacy1') }}">
            <div class="artikel">
                <div class="artikel-beschrijving">
                    <p class="privacy-alert">Privacy</p>
                    <img class="Calendar" src="/static/img/calendar.png" alt="systeem afbeelding">
                    <p class="beschrijving-tekst">13-10-2025</p>
                </div>
                <div class="artikel-beschrijving">
                    <img class="click-img" src="/static/img/privacy-1.png" alt="design afbeelding">
                    <div class="click-container">
                        <p class="click-tekst">De cloud verheffen: binnenin onze nieuwste systeemupdate</p>
                    </div>
                </div>
            </div>
        </a>

        <a class="link-container" href="{{ url_for('events.design1') }}">
            <div class="artikel">
                <div class="artikel-beschrijving">
                    <p class="design-alert">Design</p>
                    <img class="Calendar" src="/static/img/calendar.png" alt="systeem afbeelding">
                    <p class="beschrijving-tekst">10-10-2025</p>
                </div>
                <div class="artikel-beschrijving">
                    <img class="click-img" src="/static/img/design-1.png" alt="design afbeelding">
                    <div class="click-container">
                        <p class="click-tekst">Ontwerpen voor Vertrouwen: Privacy als Kern van Cloudinnovatie</p>
                    </div>
                </div>
            </div>
        </a>

        <div class="artikel">
            <div class="artikel-beschrijving">
                <p class="policy-alert">Policy</p>
                <img class="Calendar" src="/static/img/calendar.png" alt="systeem afbeelding">
                <p class="beschrijving-tekst">8-10-2025</p>
            </div>
            <div class="artikel-beschrijving">
                <img class="click-img" src="\static\img\policy-1.jpg" alt="design afbeelding">
                <div class="click-container">
                    <p class="click-tekst">De Wolken als Fundament voor Moderne Cloudarchitectuur</p>
                </div>
            </div>
        </div>

        <div class="artikel">
            <div class="artikel-beschrijving">
                <p class="privacy-alert">privacy</p>
                <img class="Calendar" src="/static/img/calendar.png" alt="systeem afbeelding">
                <p class="beschrijving-tekst">5-10-2025</p>
            </div>
            <div class="artikel-beschrijving">
                <img class="click-img" src="\static\img\privacy-2.webp" alt="design afbeelding">
                <div class="click-container">
                    <p class="click-tekst">Privacy Eerst: Het Vertrouwen in het Cloudtijdperk Hervormen</p>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="artikel">
        <div class="artikel-beschrijving">
            <p class="systeem-alert">Systeem</p>
            <p class="privacy-alert">Privacy</p>
            <img class="Calendar" src="/static/img/calendar.png" alt="systeem afbeelding">
            <p class="beschrijving-tekst">1-10-2025</p>
        </div>
        <div class="artikel-beschrijving">
            <img class="click-img" src="\static\img\systeem 2.avif" alt="design afbeelding">
            <div class="click-container">
                <p class="click-tekst">Hoe De Wolken Systeem Privacy en Transparantie Herdefinieert</p>
            </div>
        </div>
    </div> -->
    <p class="nieuws-p">Lees meer over onze nieuwste educatie en gemeenschap artikelen:</p>
    <div class="artikel-container">
        <div class="artikel">
            <div class="artikel-beschrijving">
                <p class="educatie-alert">Educatie</p>
                <img class="Calendar" src="/static/img/calendar.png" alt="calender">
                <p class="beschrijving-tekst">15-10-2025</p>
            </div>
            <div class="artikel-beschrijving">
                <img class="click-img" src="/static/img/educatie_.jpg" alt="">
                <div class="click-container">
                    <p class="click-tekst">De cloud verheffen: binnenin onze nieuwste systeemupdate</p>
                </div>
            </div>
        </div>

        <div class="artikel">
            <div class="artikel-beschrijving">
                <p class="design-alert">design</p>
                <img class="Calendar" src="/static/img/calendar.png" alt="calender">
                <p class="beschrijving-tekst">13-10-2025</p>
            </div>
            <div class="artikel-beschrijving">
                <img class="click-img" src="/static/img/workers-6152007_1280.webp" alt="">
                <div class="click-container">
                    <p class="click-tekst">Hoe wij een makkelijk te navigeren website hebben ontworpen en gerealiseerd
                    </p>
                </div>
            </div>
        </div>

        <div class="artikel">
            <div class="artikel-beschrijving">
                <p class="policy-alert">policy</p>
                <img class="Calendar" src="/static/img/calendar.png" alt="calender">
                <p class="beschrijving-tekst">10-10-2025</p>
            </div>
            <div class="artikel-beschrijving">
                <img class="click-img" src="/static/img/policy_2.jpg" alt="">
                <div class="click-container">
                    <p class="click-tekst">Van Richtlijn tot Realiteit: Onze Beleidsaanpak voor Transparante
                        Cloudinnovatie</p>
                </div>
            </div>
        </div>

        <div class="artikel">
            <div class="artikel-beschrijving">
                <p class="educatie-alert">educatie</p>
                <img class="Calendar" src="/static/img/calendar.png" alt="calender">
                <p class="beschrijving-tekst">9-10-2025</p>
            </div>
            <div class="artikel-beschrijving">
                <img class="click-img" src="/static/img/educatie_2.jpg" alt="">
                <div class="click-container">
                    <p class="click-tekst">Cloudproblemen Ontcijferd: Praktische Tips voor Dagelijks Gebruik</p>
                </div>
            </div>
        </div>

        <div class="artikel">
            <div class="artikel-beschrijving">
                <p class="systeem-alert">systeem</p>
                <img class="Calendar" src="/static/img/calendar.png" alt="calender">
                <p class="beschrijving-tekst">5-10-2025</p>
            </div>
            <div class="artikel-beschrijving">
                <img class="click-img" src="/static/img/systeem_3.jpg" alt="">
                <div class="click-container">
                    <p class="click-tekst">Van Idee tot Implementatie: Het Systeem dat Wolken Draait</p>
                </div>
            </div>
        </div>
    </div>
    <div class="nieuws-p">
        <p>categorie artikelen:</p>
    </div>
    <div class="categorie-container">
        <div class="vertical-category">
            <img src="/static/img/policy_categorie.png" alt="">
            <p class="categorie-p">Policy</p>
        </div>

        <div class="vertical-category">
            <img src="/static/img/chipkaart.png" alt="">
            <p class="categorie-p">Systeem</p>
        </div>

        <a class="link-container" href="{{ url_for('events.categorie_design') }}">
            <div class="vertical-category">
                <img src="/static/img/schets.png" alt="">
                <p class="categorie-p">Design</p>
            </div>
        </a>

        <div class="vertical-category">
            <img src="/static/img/privacy_categorie.png" alt="">
            <p class="categorie-p">Privacy</p>
        </div>

        <div class="vertical-category">
            <img src="/static/img/educatie-categorie.png" alt="">
            <p class="categorie-p">Educatie</p>
        </div>
    </div>
</body>

</html>